#achiv{
    background-color: rgb(68, 163, 68);
    width: 100%;
    height: 650px;
}

#achiv h1{
    padding-top: 30px;
}

.circleda{
    width: 140px;
    height: 140px;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.circleda img{
    position: absolute;
    width: 100px;
    top: 50%;
    transform: translate(0,-50%);
    padding: auto;
}

.offset{
    margin-top: 30px;
}