#gallery{
    width: 100%;
    height: 900px;
    background-color: var(--green);
    padding-top: 30px;
    padding-bottom: 100px;
}

#header-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#header-gallery h1{
    width: 200px;
}

.panel{
    background-color: var(--dark);
    box-shadow: 2px 2px 20px black;
    width: 1330px;
    height: 700px;
    border: 5px solid var(--dark);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

#gallery h4{
    text-align: center;
    transition: all .2s ease-in-out;
}

#posts{
    width: inherit;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
}

#posts::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.post{
    width: 321px;
    height: 230px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.52);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    transition: all .2s ease-in-out;
    display:flex;
    justify-content:center;
    align-items:center;
}
.post:hover h4{
    transform: scale(1.05);
}

.gallery-swiper{
    width: 100%;
    height: 70%;
    position: relative;
}

.gallery-swiper .swiper-slide{
    display: flex;
    justify-content: center;
}

.gallery-swiper img{
    max-width: 1300px;
    max-height: 700px;
}

.gallery-swiper img:hover{
    cursor: grab;
}

.gallery-swiper .swiper-button-prev::after{
    padding-left: 450px;
}

.gallery-swiper .swiper-button-next::after{
    padding-right: 450px;
}

/* Миниатуры */
.small-swiper{
    margin-top: 10px;
}
.small-swiper .slide{
    opacity: 0.2;
    transition: opacity 0.3s ease 0s;
}

.small-swiper .swiper-slide-thumb-active{
    opacity: 1;
}

.small-swiper img{
    max-width: 250px;
    max-height: 160px;
}
