#gallery{
    width: 100%;
    background-color: var(--green);
    padding-top: 30px;
    padding-bottom: 100px;
}

#gallery h1{
    margin-bottom: 40px;
}

#gallery .container{
    display: flex;
    justify-content: space-between;
}

#panel-posts::-webkit-scrollbar{
    width: 7px;
}

#panel-posts::-webkit-scrollbar-track{
    background-color: #fff;
}

#panel-posts::-webkit-scrollbar-thumb{
    border: none;
    background-color: white;
}

#panel-posts{
    width: 350px;
    height: 500px;
    transform:scaleX(-1);
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid white;
    background-color: #fff;
    overflow-y: scroll;
}

#panel-posts button{
    transform:scaleX(-1);
    width: 100%;
    height: 50px;
    border: none;
    margin-left: 10px;
    position: relative;
    right: 7px;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #fff;
    transition: all .2s ease-in-out;
}

#panel-posts button:hover{
    color: white;
    background-color: rgb(36, 109, 226);
}

#panel-posts button:{
    background-color: rgba(36, 109, 226, 0.815);
}

/* Swiper img */
.swiper-gallery{
    overflow: hidden;
    width: 900px;
    height: 500px;
    background-color: rgb(29, 29, 29);
}

/* item */
.gallery-block-img{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.gallery-block-img img{
    max-width: 850px;
    max-height: 450px;
    margin: 0 auto;
    border-radius: 10px;
}