@media screen and (min-width: 1824px) {
    header{
        height: 910px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.465);
        background-image: url("../../img/school.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        background-attachment: fixed;
        background-blend-mode: multiply;
    }

    .header-content{
        height: 354px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        color: white;
        opacity: .9;
        z-index: 1;
        text-align: center;
    }
    
    .header-content h1{
        font-size: 50px;
        font-weight: 700;
    }

    .header-content h2{
        font-size: 50px;
        color:rgb(68, 163, 68);
    }
    
    .header-content h4{
        width: 1200px;
        margin: 0 auto;
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 35px;
        opacity: .9;
    }

    .btn-main{
        padding: 10px 35px;
        margin-top: 50px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
        background-color: rgb(68, 163, 68);
        transition: all .3s ease;
        transform: scale(1.1);
    }
    
    .btn-main:hover{
        box-shadow: 0 0 10px rgb(68, 163, 68);
        transform: scale(1.17)
    }
}

@media only screen and (min-width: 1224px) {
    header{
        height: 600px;
        width: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.465);
        background-image: url("../../img/school.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        background-attachment: fixed;
        background-blend-mode: multiply;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header-about{
        font-size: 45px;
    }

    .header-content{
        height: 354px;
        color: white;
        opacity: .9;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-content h1{
        font-size: 40px;
        font-weight: 700;
        margin: 0;
    }

    .header-content h2{
        font-size: 40px;
        color:rgb(68, 163, 68);
    }
    
    .header-content h4{
        width: 900px;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 35px;
        opacity: .9;
        text-align: center;
    }

    .btn-main{
        width: 200px;
        height: 50px;
        border: none;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
        background-color: rgb(68, 163, 68);
        transition: all .3s ease;
        transform: scale(0.9);
    }
    
    .btn-main:hover{
        box-shadow: 0 0 10px rgb(68, 163, 68);
        transform: scale(0.95)
    }
}
