#about{
    width: 100%;
    height: 700px;
    background-color: rgb(46, 46, 46);
}

#h1{
    padding:40px 0;
}

.block-about{
    background-color: rgb(36, 36, 36);
}

.block-about img{
    width: 300px;
    margin: 20px;
    border: 10px solid rgb(65, 65, 65);
}

.discribe{
    width: 600px;
    margin-top: 20px;
}

.discribe{
    font-size: 1.15rem;
}
