#navigation-block{
    background-color: var(--green);
    width: 100%;
    min-height: 650px;
}

#header-navigation{
    display: block;
    width: 510px;
    margin: 0 auto;
}

#header-navigation h1{
    margin-bottom: 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

#header-navigation h1:hover{text-shadow: 0px 0px 5px white;}

.own-circle{
    width: 140px;
    height: 140px;
    border: rgb(255, 255, 255) solid 3px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.own-circle:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px white;
}

.own-circle img{
    position: absolute;
    width: 100px;
    top: 50%;
    transform: translate(0,-50%);
    padding: auto;
}

.indent-height{margin: 30px 0;}