#news{
    min-height: 620px;
    background-color: rgba(0, 0, 0, 0.465);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

#news-fs{
    height: 100px;
}

#news h1,h2,h3,h4,h5,p{
    color:white;
}

#header-news{
    padding-top: 70px;
    padding-bottom: 50px;
}

#header-news h1{
    display: block;
    width: 380px;
    margin: 0 auto;
    transition: all 0.2s ease-out;
}
#header-news h1:hover{
    text-shadow: 0px 0px 5px white;
}

.block-img{
    width: 330px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.preview-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body{
    backdrop-filter: blur(8px);
}

.block-card{
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(24, 24, 24, 0.239);
    background-color: rgba(26, 26, 26, 0.459);
    transition: all .2s ease-in-out;
}

.block-card:hover{
    box-shadow: 0 0 15px rgb(95, 95, 95);
}

.card-img{
    height: 170px;
    position: relative;
    overflow: hidden;
}

.news-btn:hover{
    box-shadow: 0 0 10px rgb(68, 163, 68);
    /* text-shadow: 0 0 10px white; */
    transform: scale(1.05);
}