#news{
    height: 620px;
    background-color: rgb(37, 37, 37);
}

.block{
    width: 330px;
    height: 350px;
    margin-left: 50%;
    transform: translate(-50%,0);
    border: 3px solid #000000;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /* transition: all .8s ease; */
}

.block-img{
    width: 330px;
    height: 200px;
    position: relative;
}

.block-img h3{
    position: absolute;
    opacity: 1;
    z-index: 1;
    font-size: 40px;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px black;
    transition: all 0.3s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-img h3:hover{
    opacity: 0;
}

.block-img{
    overflow: hidden;
    width: 330px;
    height: 200px;
}

.block-info h3{
    display: block;
    color: black;
    z-index: 1;
    text-align: center;
}

.news-overlay{
    width: 325px;
    height: 200px;
    position: absolute;
    background-color: black;
    opacity: 0.4;
}

.block img{
    width: 500px;
}

.text-info p{
    color: black;
    text-align: center;
}

.card_{
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgb(24, 24, 24);
    background-color: rgb(48, 48, 48);
}

.card-img{
    height: 170px;
    position: relative;
    overflow: hidden;
}

#btn-news{
    width: 200px;
    margin: 0 auto;
    background-color: rgb(68, 163, 68);
    transform: scale(1);
    margin-top: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    transition: all .3s ease;
}

#btn-news:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(68, 163, 68);
}