:root{
    --green: rgb(68, 163, 68);
}

body{
    font-family: Ubuntu;
    margin: 0;
}

#bg-white{
    background-color: #fff;
}

.white{
    color: #fff;
}

#bg-green{
    background-color: var(--green);
}

.main-test-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}

table{
    border: 2px solid black;
}


.test-div{
    width: 300px;
    margin: 10px 10px;
    height: 300px;
    background-color: black;
}

.free-space{
    width: 100%;
    height: 70px;
}

.indent-header{
    margin-bottom: 50px;
}

.text-white{color: #fff;}
.text-black{color: black;}
.text-center{text-align: center;}

.transition-block{
    width: 100%;
    height: 10px;
    background-color: rgb(22, 22, 22);
}