<section id="tables">
        <br/><div class="container">
            <h1 class="text-center text-black">Рассписание</h1><br/>
            <h2 class="text-center text-black">{{data['class']}} класса</h2><br/>
            <div class='tables'>

                <div class="row">
                    <div class="col-2">
                        <div class="list-group">
                            <button type="button" style="text-align: center;" class="list-group-item list-group-item-action" disabled>Классы</button>
                            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                              1 класс
                            </button>
                            {%for i in range(2,12)%}
                            <button type="button" class="list-group-item list-group-item-action">{{i}} класс</button>
                            {%endfor%}
                        </div>
                        
                    </div>
                    <div class="col-10">
                        {%for i in range(1,7)%}
                        <div class="block-tables">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><th colspan="2" class="text-center">Понедельник {{i}}</th></tr>
                                    <tr>
                                        <th class="text-center">Предмет</th>
                                        <th class="text-center">Домашнее задание</th>
                                    </tr>
                                    {%for j in range(1,8)%}
                                    <tr>
                                        <td>{{j}}) Предмет</td>
                                        <td>Параграв 8 стр 5 прочитать и выучить стихотворение</td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                            {%endfor%}
                        </div>
                        
                    </div>
                </div>

            </div> 
        </div>
        <div class="free-space"></div> 
    </section>